<configuration debug="true" scan="true" scanPeriod="30 seconds">

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- Temporarily elevate root level to DEBUG to capture detailed plugin diagnostics during test runs -->
	<root level="DEBUG">
		<appender-ref ref="CONSOLE"/>
	</root>

	<!-- Enable debug for MongoDBPlugin to trace query variable binding order -->
	<logger name="com.ontotext.trree.plugin.mongodb.MongoDBPlugin" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE"/>
	</logger>

</configuration>
